<div class = "show_user_container">
<%if @user %>
	<div class = "user_title"><%= @user.last_name %><%= @user.first_name%></div>
        <% if @user.avatar.present? %>
          <%= image_tag @user.avatar_url(:thumb), :class => "avatar_container" %>
        <% else %>
          <%= image_tag 'default_avatar.jpg' , :class => "avatar_container" %>
        <% end %>
	<div class = "user_line"><div class= "user_line_in"> </div></div>
	<table style="word-break:break-all">
    	<tr><td class = "user_show"><%= t('Class Year') %></td> <th class = "user_show"><%= @user.class_year %></th></tr>
    	<tr><td class = "user_show"><%= t('Nick name') %></td> <th class = "user_show"><%= @user.nick_name %></th></tr>
    	<tr><td class = "user_show">Email</td> <th class = "user_show"><%= @user.email %></th></tr>
    	<tr><td class = "user_show"><%= t('Rank') %></td> <th class = "user_show"><%= @user.rank %> / <%= @user.maxrank %></th></tr>
        <tr><td class = "user_show"><%= t('Description') %></td> <th class = "user_show"><%= @user.description %></th></tr>
	<tr><td class = "user_show"><%= t('Number of uploaded feedbacks') %></td> <th class = "user_show"><%= @user.feedbacks.count %></th></tr>
	<tr><td class = "user_show"><%= t('Number of uploaded pastexams') %> </td> <th class = "user_show"><%= @user.pastexams.count %></th></tr>
	</table>
        
<% else %>
	<div class = "user_title"><%= current_user.last_name %><%= current_user.first_name%></div>
	<% if current_user.avatar.present? %>
          <%= image_tag current_user.avatar_url(:thumb), :class => "avatar_container" %>
        <% else %>
          <%= image_tag 'default_avatar.jpg' , :class => "avatar_container" %>
        <% end %>
	<div class = "user_line"><div class= "user_line_in"> </div></div>
        <table  style="word-break:break-all">
    	<tr><td class = "user_show"><%= t('Class Year') %></td> <th class = "user_show"><%= current_user.class_year %></th></tr>
    	<tr><td class = "user_show"><%= t('Nick name') %></td> <th class = "user_show"><%= current_user.nick_name %></th></tr>
    	<tr><td class = "user_show">Email</td> <th class = "user_show"><%= current_user.email %></th></tr>
    	<tr><td class = "user_show"><%= t('Rank') %></td> <th class = "user_show"><%= current_user.rank %> / <%= current_user.maxrank %></th></tr>
        <tr><td class = "user_show"><%= t('Description') %></td> <th class = "user_show"><%= current_user.description %></th></tr>
	<tr><td class = "user_show"><%= t('Number of uploaded feedbacks') %> </td> <th class = "user_show"><%= current_user.feedbacks_count %></th></tr>
	<tr><td class = "user_show"><%= t('Number of uploaded pastexams') %> </td> <th class = "user_show"><%= current_user.pastexams_count %></th></tr>
	</table>
        
<%end%>

<% if @user and current_user.is_admin == 2%>
  <% if @user.is_admin == 0 %>
    <p><%= link_to  t('Assign as Admin'),{ :controller => 'users', :action => 'assign', :id => @user.id}, :class => "btn btn-warning" %>
     <%= link_to  t('Assign as Normal User'),{ :controller => 'users', :action => 'unassign', :id => @user.id}, :class => "btn btn-warning disabled" %></p>
  <% elsif @user.is_admin == 1 %>
    <p><%= link_to  t('Assign as Admin'),{ :controller => 'users', :action => 'assign', :id => @user.id}, :class => "btn btn-warning disabled" %>
    <%= link_to  t('Assign as Normal User'),{ :controller => 'users', :action => 'unassign', :id => @user.id}, :class => "btn btn-warning" %></p>
  <%end%>

  <p>
  <%= form_tag :controller => :users, :action => :add_point, :id => @user.id, :method => :get do %>
  <%= number_field_tag :add_point%>
  <%= submit_tag t("Add") %>
  </p>
<% end %>

<% end %>



<% if @user == current_user || !@user%> 
	<div class = "edit_container">
	  <%= link_to t("Edit"), edit_user_registration_path, :class => "edit_container_in"%>
	</div>
	<div class = "edit_container">
	  <%= link_to t("Manage"), :controller => :users, :action => :manage, :id => current_user.id, :class => "edit_container_in"%>
	</div>
<% else %>
	<div class = "edit_container">
	  <%= link_to t("Posts"), :controller => :users, :action => :manage, :id => @user.id, :class => "edit_container_in"%>
	</div>
<% end %>
<div class = "button_space">

</div>
