<div class = "show_course_container">
	<div class = "course_feedback_back"> </div>
	<%= link_to t('Back_to_Course'), course_path(@course), :class => "course_feedback_back_text", :method => :get%>
	<div class = "course_title"> <%= @course.name %> </div>
	<div class = "course_instructor"> <%= @course.instructor %></div>
	<div class = "course_line"> </div>
	

	<table class="table table-hover">
		<tr>
			<th><%= t('Year') %></th>
			<th><%= t('Rating') %></th>
			<th><%= t('Author') %></th>
			<th><%= t('Link') %></th>
			<th><%= t('Publish date') %></th>
			<th><%= t('View time') %></th>
			<th><%= t('Actions') %></th>
		</tr>
		<% @feedbacks.each do |feedback| %>
			<tr>
				<th><%= feedback.year %>   

				<th><%= feedback.rating%></th>     
		  
				<th><%= link_to "#{feedback.user.nick_name}", :controller => 'users', :action => 'show',:id => feedback.user %></th>

				<% if current_user.rank >= @adminparam.point_need_feedback || current_user == feedback.user || current_user.is_admin==1 %>
					<th><%= link_to t('show feedback'), course_feedback_path(@course, feedback) %></th>
				<%else%>
					<th><%= t('Points not enough') %></th>
				<%end%>

				<th><%= feedback.updated_at.to_date %></th>
				<th><%= feedback.visit_time %></th>
				<% if current_user == feedback.user || current_user.is_admin>0 %>
					<th><%= link_to t('Delete'), course_feedback_path(@course, feedback),
										  :method => :delete , data: { confirm: t('Are you sure') }%></th>
				<%else%>
					<th></th>
					<th></th>
				<% end %>
			</tr>
			  
		
		<% end %>
	</table>
	<%= paginate @feedbacks %>

	
	<%= link_to t('New Feedback'), new_course_feedback_path(@course),  :class => "course_edit_container", :method => :get %>

	<div class = "button_space">

	</div>
</div>

